extends template.pug

block content
  h2= event.event_name
  h3
    | Hosted by 
    a(href='/profile/id/' + event.organiser_id)
      | #{event.organiser_name}

  p(style='white-space: pre-wrap')= event.body

  img(class='img-fluid'
  src='data:' + event.img_mime + ';base64,' + event.img_data)

  if(session)
    p
      a(href='/events/update/' + event.event_id)
        button(type='submit' class='btn btn-secondary') Edit event
