extends template.pug

block content
  h2= event.event_name
  h3
    | Hosted by 
    a(href='/profile/id/' + event.organiser_id)
      | #{event.organiser_name}

  p= event.body

  img(src='data:' + event.img_mime + ';base64,' + event.img_base64)

  if(session)
    form(action='/update/'+event.event_id method='GET')
      button(type='submit' class='btn btn-secondary') Edit event
