div(class='row align-items-end')
  div(class='col-md-4')

  div(class='col-md-4')
    h1= "Aston Events"

  div(class='col-md-4' style='color: #ffffff')
    if(session && session.user_id && session.name)
      p
      | You are logged in as 
      a(href='/profile/id/' + session.user_id)
        = session.name
      a(href='/profile/logout' class='badge badge-light'
      style='margin-left: 10px; margin-right: 10px;')
        | Logout

    else
      p
        a(href='/profile/login' class='badge badge-light'
        style='margin-right: 10px;')
          | Login
        a(href='/profile/register' class='badge badge-light')
          | Register
