extends templates/template.pug

block content
  h2
    | Events

  if(events)
    div(class='list-group')
      each event in events
        a(href='/events/id/' + event._id
        class='list')
          p= event.event_name
