extends template.pug

block content
  h2
    | Events

  if(events)
    div(class='list-group')
      each event in events
        a(href='/events/id/' + event.event_id
        class='list ')
          p= event.event_name
