extends template.pug

block content
  h2
    | Login

  form(action='/profile/login' method='POST')
    div(class='form-group')
      label(for='email') Email address
      input(type='email' class='form-control' name='email' id='email'
      placeholder='Enter your email address')

    div(class='form-group')
      label(for='password') Password
      input(type='password' class='form-control' name='password' id='password'
      placeholder='Enter your password')

    button(type='submit' class='btn btn-primary') Login 
