extends template.pug

block content
  h2= name

  h3
    | Contact information
  p= email

  h3
    | Events
  if(events)
    ul(class='list-group')
      each event in events
        a(href='/event/' + event.id)
          li(class='list-group-item')= event.name
