html
  head
    title= title
    style
      include bootstrap.css
  body
    div(class='container')
      h1= "Aston Events"

      div(class='container-fluid')
        block content

        if error
          div(class='alert alert-danger')= error

      div(class='container-fluid')
        p= "I\'m a footer innit"

