html
  head
    title= title
    style
      include ../styles/bootstrap.css
      include ../styles/main.css

  body
    div(id='main' class='container')
      include header.pug

      div(id='content' class='container-fluid')
        block content

        if error
          div(class='alert alert-danger')= error

      include footer.pug
